.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text on right */
.tooltip .tooltiptext-left {
    visibility: hidden;
    width: 200px;
	font-size:20px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	/*fade in effect*/
	opacity: 0;
    transition: opacity 1.5s ease-in-out;
	
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top:50px;
	right:110%;
	
}
.tooltip .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent gray;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-left {
    visibility: visible;
	opacity: 0.8;
	
}

/* Tooltip text on bottom */
.tooltip .tooltiptext-bottom {
    visibility: hidden;
    width: 200px;
	font-size:20px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	/*fade in effect*/
	opacity: 0;
    transition: opacity 1s ease-in-out;
	
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top:150px;
	left:50%;
	margin-left: -100px;
	
}
.tooltip .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-bottom {
    visibility: visible;
	opacity: 0.8;
	
}
